*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	padding: 0;
}

#collapsable-nav {
	background-color: #212429;
}

.navbar-header {
	background-color: #212429;
}

#header-nav {
	border: 0;
	border-radius: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#brand {
	position: absolute;
	left: 50%;
	display: block;
	margin-left: -50px;
	margin-top: auto;
}

.glyphicon {
	border: 1px;
	border-color: white;
}

#myCarousel {
	width: 100%;
}

.carousel-inner {
	width: 95%;
	margin: auto;
}

/*------------------Body---------------*/

body {
	background-color: #f9f9fb;
}

/*----------------Newsletter-------------*/
.newsletter {
	width: 95%;
	margin: 0 auto;
}

/*.middle-vertical {
	vertical-align: center;
	display: inline-block;
	float: none;
	margin-right: -4px;
}*/

#signup-label {
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: 'Montserrat', sans-serif;
	float: left;
	letter-spacing: 3px;
	padding: 0;
	/*margin-right: 10px;*/
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  height: 39px;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

input::-webkit-input-placeholder {
	padding-left: 10px;
}

#name-input {
}

#email-input {
	margin-left: 10px;
	width: 100%;
}

.style-the-glow{
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

.style-the-glow:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

#subcribe-button {
	border: 0;
	height: 39px;
}

/*------------------Footer-------------------*/
.panel-footer {
	background-color: #212429;
	opacity: 80%;
	padding: 0;
	padding-top: 20px;
}

.footer-container {
	padding-left: 2%;
	padding-right: 2%;
}

.footer-block-title {
	padding-bottom: 20px;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

section.footer-block {
	color: white;
}

.end-footer {
	background-color: #17191c;
	margin: 0;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}